<body class="flex h-dvh bg-gradient-to-br from-gray-50 to-gray-100 ">
  <div class="w-full h-full max-w-[90%] mx-auto flex flex-col gap-6">
    <!-- Filter Bar -->
    <div class="flex h-fit flex-col gap-6 w-full">
      <h1 class="text-4xl font-bold text-[var(--primary-color)] flex items-center space-x-4">
        <i class="fas fa-tasks text-[var(--tertiary-color)]"></i>
        <span>Your Tasks</span>
      </h1>
      <div class="flex space-x-4">
        <button (click)="setFilterType('all')"
          [ngClass]="{'bg-[var(--tertiary-color)] text-white': filterType === 'all', 'bg-[var(--secondary-color)] text-white': filterType !== 'all'}"
          class="px-6 py-3 rounded-lg hover:bg-opacity-90 transition-all shadow-md focus:ring-2 focus:ring-offset-2 focus:ring-[var(--tertiary-color)] bounce-on-hover">
          <i class="mr-2 fas fa-list-ul"></i> All
        </button>
        <button (click)="setFilterType('assignment')"
          [ngClass]="{'bg-[var(--tertiary-color)] text-white': filterType === 'assignment', 'bg-[var(--secondary-color)] text-white': filterType !== 'assignment'}"
          class="px-6 py-3 rounded-lg hover:bg-opacity-90 transition-all shadow-md focus:ring-2 focus:ring-offset-2 focus:ring-[var(--tertiary-color)] bounce-on-hover">
          <i class="mr-2 fas fa-book"></i> Assignments
        </button>
        <button (click)="setFilterType('quiz')"
          [ngClass]="{'bg-[var(--tertiary-color)] text-white': filterType === 'quiz', 'bg-[var(--secondary-color)] text-white': filterType !== 'quiz'}"
          class="px-6 py-3 rounded-lg hover:bg-opacity-90 transition-all shadow-md focus:ring-2 focus:ring-offset-2 focus:ring-[var(--tertiary-color)] bounce-on-hover">
          <i class="mr-2 fas fa-question-circle"></i> Quizzes
        </button>
      </div>
    </div>

    <!-- Container for the Cards -->
    <div class="grid h-full grid-cols-1 gap-8 sm:grid-cols-2 lg:grid-cols-3">
      <!-- Display message if no tasks available -->
      <div class="flex flex-col w-full h-full place-content-center items-center justify-center fade-in"
        *ngIf="filteredTasks().length <= 0">
        <img class="object-contain w-40 h-40 mb-6 filter saturate-150" [src]="'assets/paperworks.png'" alt="No Tasks">
        <div class="text-2xl font-semibold text-gray-500">No tasks assigned at the moment.</div>
      </div>

      <!-- Task Cards -->
      <ng-container *ngFor="let task of filteredTasks()">
        <div class="w-full fade-in">
          <div
            class="p-6 rounded-2xl shadow-lg h-[380px] flex flex-col transition-transform duration-300 ease-in-out hover:scale-105 hover:shadow-2xl border-t-4"
            [ngStyle]="{'background-color': '#fff', 'border-top-color': task.done ? 'var(--tertiary-color)' : 'var(--secondary-color)', 'color': 'var(--primary-color)'}">

            <!-- Card Header -->
            <div class="mb-4">
              <div class="flex items-center justify-between text-2xl font-semibold">
                <span>
                  <i class="{{task.type == 'assignment' ? 'fas fa-book-open' : 'fas fa-question'}} mr-2"></i>
                  {{switchTag(task.type)}}: {{task.title}}
                </span>
                <ng-container *ngIf="task.type == 'quiz'; else markdone">
                  <div *ngIf="task.done"
                    class="flex items-center justify-center px-4 py-2 rounded-md text-sm font-bold bg-[var(--tertiary-color)] text-white">
                    {{getQuizPoint(task.id)}}
                  </div>
                </ng-container>
                <ng-template #markdone>
                  <div *ngIf="task.done"
                    class="flex items-center justify-center px-4 py-2 rounded-md text-sm font-bold bg-[var(--tertiary-color)] text-white">
                    Done
                  </div>
                </ng-template>
              </div>
            </div>

            <!-- Card Body -->
            <div *ngIf="showDescription && windowWidth >= 500" class="mb-6 text-lg text-gray-700 line-clamp-3">
              {{ truncateDescription(task.details, 20) }}
            </div>

            <!-- Card Footer -->
            <div class="flex flex-col items-center mt-auto">
              <div
                [ngClass]="{'text-green-500': task.done && task.type == 'quiz', 'text-red-500': !task.done && checkOverdue(task.deadline)}"
                class="mb-4 font-bold">
                Due Date: {{parseDate(task.deadline)}}
              </div>
              <button (click)="task.type == 'assignment' ? redirect(task.id) : attemptQuiz(task)"
                class="w-full px-6 py-3 rounded-lg text-white transition-all hover:opacity-90 focus:ring-2 focus:ring-offset-2 focus:ring-[var(--tertiary-color)] bounce-on-hover"
                [ngStyle]="{
                    'background-color': task.done && task.type == 'quiz' ? 'var(--secondary-color)' : task.type == 'assignment' ? 'var(--tertiary-color)' : 'var(--secondary-color)'
                  }">
                {{task.type == 'assignment' ? 'View' : task.done ? 'Done' : 'Attempt'}}
              </button>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</body>