<div class="mx-8 mt-4 text-2xl text-gray-600 instruction poppins">
  Choose
  <a class="text-2xl text-transparent poppins-b gradient-color bg-clip-text">
    Study Mode:</a
  >
</div>
<div class="mx-12 my-2 text-xl text-gray-700 description poppins">
  Choose Teacher-led for expert guidance or Self-study for personalized language
  mastery. Bon voyage!
</div>

<div class="flex items-center justify-between mx-10 my-4"></div>

<div class="flex items-start justify-center w-full h-full">
  <div class="mx-1 rounded-xl">
  <div class="mode-container">
      <a routerLink="/student/courses">
        <button class="teacherled-button gradient-color1 w-96 h-80 rounded-xl">
          <div class="text-center mode-title">
            <p class="text-2xl text-white poppins-b">TEACHER-LED</p>
          </div>
        </button>
      </a>

      <a routerLink="/student/selfstudylab"
        ><button class="studentled-button gradient-color1 w-96 h-80 rounded-xl">
          <div class="text-center mode-title">
            <p class="text-2xl text-white poppins-b">SELF-ASSESSMENT</p>
          </div>
        </button>
      </a>
    </div>
  </div>
</div>
