<div class="h-dvh w-dvw fixed inset-0 z-[1000] flex items-center justify-center bg-black/50">
  <div
    class="w-full h-full flex flex-col gap-4 max-h-[80%] lg:max-h-[90%] md:max-w-[90%] max-w-[95%] bg-white rounded-xl overflow-hidden p-4">
    <div class="modal-header">
      <div class="titlehead poppins-b">
        <h1>{{ quiz ? 'Edit Quiz' : 'Create Quiz' }}</h1>
      </div>
    </div>
    <div class="w-full h-full overflow-y-auto">
      <div class="w-full flex flex-col gap-4 p-2">
        <!-- first row -->
        <div class="flex md:flex-row flex-col w-full gap-2">
          <div class="flex flex-col flex-1 gap-2">
            <input
              class="rounded-lg bg-slate-50 border-2 border-solid border-[var(--secondary-color)] outline-[var(--tertiary-color)] p-2"
              [(ngModel)]="title" type="text" placeholder="Quiz Title :" />
            <textarea
              class="p-2 border-2 border-[var(--secondary-color)] border-solid rounded-lg bg-slate-50 outline-[var(--tertiary-color)]"
              [(ngModel)]="description" name="" id="" cols="32" rows="4" placeholder="Description :"></textarea>
          </div>
          <div class="flex flex-col flex-1 gap-2">
            <input
              class="p-2 border-2 border-[var(--secondary-color)] border-solid rounded-lg bg-slate-50 outline-[var(--tertiary-color)]"
              [(ngModel)]="timelimit" type="number" placeholder="Time Limit :" min="1" required />
            <input
              class="p-2 border-2 border-[var(--secondary-color)] border-solid rounded-lg bg-slate-50 outline-[var(--tertiary-color)]"
              type="text" [(ngModel)]="deadline" name="deadline" id="deadline" placeholder="Deadline:"
              onfocus="this.type='date'" onblur="this.type='text'" required style="padding-left: 10px" />
            <select
              class="p-2 border-2 border-[var(--secondary-color)] border-solid rounded-lg bg-slate-50 outline-[var(--tertiary-color)]"
              [(ngModel)]="course" (ngModelChange)="onCourseChange()" name="course">
              <option value="" disabled selected hidden>Select Course</option>
              <option *ngFor="let _course of courses" [value]="_course.id">
                {{ _course.title }}
              </option>
            </select>

            <select
              class="p-2 border-2 border-[var(--secondary-color)] border-solid rounded-lg bg-slate-50 outline-[var(--tertiary-color)]"
              [(ngModel)]="lesson" (ngModelChange)="onLessonChange()" name="lesson">
              <option value="" selected>Select Lesson</option>
              <option *ngFor="let _lesson of lessons" [value]="_lesson.id">
                {{ _lesson.title }}
              </option>
            </select>

            <select
              class="p-2 border-2 border-[var(--secondary-color)] border-solid rounded-lg bg-slate-50 outline-[var(--tertiary-color)]"
              [(ngModel)]="topic" name="topic">
              <option value="" selected>Select Topic</option>
              <option *ngFor="let _topic of topics" [value]="_topic.id">
                {{ _topic.title }}
              </option>
            </select>

          </div>
          <div class="rightwrap">
            <h3 class="mb-2 font-bold poppins">Quiz Settings</h3>
            <div class="poppins">
              <input [(ngModel)]="settings.random_question" type="checkbox" /><span class="ml-2">Randomize
                Question</span>
            </div>
            <div class="poppins">
              <input [(ngModel)]="settings.allow_backtrack" type="checkbox" /><span class="ml-2">Allow
                Backtracking</span>
            </div>
            <div class="poppins">
              <input [(ngModel)]="settings.allow_review" type="checkbox" /><span class="ml-2">Allow Review After
                Submission</span>
            </div>

            <div class="poppins">
              <input [(ngModel)]="settings.popup_quiz" type="checkbox" /><span class="ml-2">Video Pop-up Quiz</span>
            </div>


          </div>
        </div>

        <!-- start of que section -->
        <div class="leftwrap flex flex-col w-full gap-8">
          <div *ngFor="let question of questions; let i = index" class="flex md:flex-row flex-col w-full gap-2 mt-3">
            <div class="md:flex-[2_2_1%] flex flex-col gap-2">
              <!-- first row in que section -->
              <div class="flex items-center">
                <h1 class="text-lg font-bold font-poppins">Question # {{ i + 1 }}</h1>
                <select
                  class="p-2 ml-4 text-xs border-2 border-[var(--secondary-color)] border-solid rounded-lg bg-slate-50 outline-[var(--tertiary-color)]"
                  [(ngModel)]="question.type" (change)="setType(question)" name="language" id="language">
                  <option class="placeholder poppins-b" value="" disabled selected hidden>
                    Select Type
                  </option>
                  <option *ngFor="let type of types; let val = index" [value]="val">
                    {{ types[val] }}
                  </option>
                </select>
                <button *ngIf="question.type == '3'" class="px-3 py-2 ml-4 text-xs rounded-md futuristic-ai-button"
                  (click)="showAIModal = true">AI</button>

                <button class="px-3 py-2 ml-4 text-xs text-white bg-red-500 rounded-md hover:scale-105"
                  (click)="removeQuestion(i)">Remove</button>
              </div>
              <!-- second row in que section multiple choice -->
              <div *ngIf="question.type == '1' || question.type =='0'" class="flex flex-col w-full gap-2">
                <textarea
                  class="mt-2 rounded-lg bg-slate-50 border-2 border-solid border-[var(--secondary-color)] outline-[var(--tertiary-color)] p-2 flex-[2_2_1%]"
                  [(ngModel)]="question.question.value" name="" id="" cols="30" rows="4"
                  placeholder="Enter Question :"></textarea>
                <div
                  class="flex flex-col items-center justify-center gap-2 px-2 py-2 border-2 rounded border-slate-500 hover:bg-amber-50 ">
                  <div class="flex flex-col" *ngFor="let file of question.question.attachments; let j = index">
                    <img [src]="file" class="w-auto max-h-36">
                    <button (click)="removeQuestionAttachment(question.question, j )"
                      class="px-3 py-1 text-xs text-white bg-red-500 hover:bg-red-400"> Remove</button>
                  </div>
                  <input (change)="questionOnFileSelected($event, question.question)" class="hidden" type="file"
                    accept="image/*" #questionUpload>
                  <button class="px-6 py-2 text-white rounded-md bg-amber-500 hover:bg-amber-400"
                    (click)="questionUpload.click()">Add Image</button>
                </div>
              </div>
              <div *ngIf="question.type == '2'" class="flex w-full gap-2 mt-2">
                <div class="flex flex-col flex-1 gap-2">
                  <textarea
                    class="flex-1 p-2 border-2 border-[var(--secondary-color)] border-solid rounded-lg bg-slate-50 outline-[var(--tertiary-color)]"
                    [(ngModel)]="question.question.value" name="" id="" rows="4"
                    placeholder="Enter Question :"></textarea>
                  <div
                    class="flex flex-col items-center justify-center gap-2 px-2 py-2 border-2 rounded border-slate-500 hover:bg-amber-50 ">
                    <div class="flex flex-col" *ngFor="let file of question.question.attachments;let j = index">
                      <img [src]="file" class="w-auto max-h-36">
                      <button (click)="removeQuestionAttachment(question.question, j )"
                        class="px-3 py-1 text-xs text-white bg-red-500 hover:bg-red-400"> Remove</button>
                    </div>
                    <input (change)="questionOnFileSelected($event, question.question)" class="hidden" type="file"
                      accept="image/*" #question2Upload>
                    <button class="px-6 py-2 text-white rounded-md bg-amber-500 hover:bg-amber-400"
                      (click)="question2Upload.click()">Add Image</button>
                  </div>
                </div>
                <textarea
                  class="flex-1 p-2 border-2 border-[var(--secondary-color)] border-solid rounded-lg bg-slate-50 outline-[var(--tertiary-color)]"
                  [(ngModel)]="question.answer" name="" id="" rows="4" placeholder="Enter Answer "></textarea>
              </div>





              <div *ngIf="question.type == '3'" class="flex w-full gap-2 mt-2">
                <div class="flex flex-col flex-1 gap-2">
                  <textarea
                    class="flex-1 p-2 border-2 border-[var(--secondary-color)] border-solid rounded-lg bg-slate-50 outline-[var(--tertiary-color)]"
                    [(ngModel)]="question.question.value" name="" id="" rows="4"
                    placeholder="Enter Question :"></textarea>


                  <div
                    class="flex flex-col items-center justify-center gap-2 px-2 py-2 border-2 rounded border-slate-500 hover:bg-amber-50 ">
                    <div class="flex flex-col" *ngFor="let file of question.question.attachments;let j = index">
                      <img [src]="file" class="w-auto max-h-36">
                      <button (click)="removeQuestionAttachment(question.question, j )"
                        class="px-3 py-1 text-xs text-white bg-red-500 hover:bg-red-400"> Remove</button>
                    </div>
                    <input (change)="questionOnFileSelected($event, question.question)" class="hidden" type="file"
                      accept="image/*" #question2Upload>
                    <button class="px-6 py-2 text-white rounded-md bg-amber-500 hover:bg-amber-400"
                      (click)="question2Upload.click()">Add Image</button>
                  </div>
                </div>
                <div
                  class="flex items-center justify-center flex-1 p-2 border-2 border-dashed rounded-lg border-[var(--tertiary-color)] bg-slate-50 outline-[var(--tertiary-color)]">
                  Answers will automatically analyzed and checked
                </div>
              </div>
            </div>

            <div *ngIf="question.type == '0'" class="options flex-[3_3_1%] mt-3 w-full">
              <h1 class="poppins-b">Options</h1>
              <!-- Container 1 -->
              <div class="flex gap-3 mt-2 w-full">

                <!-- Item 1 -->
                <div class="flex flex-col flex-1 gap-3 w-full">
                  <div class="flex flex-col gap-2 w-full">
                    <div class="flex flex-row items-center gap-2 w-full">
                      <input
                        class="w-full flex-1 p-2 border-2 border-solid rounded-lg border-amber-600 bg-slate-50 outline-amber-400"
                        [(ngModel)]="question.options[0].value" type="text" placeholder="Option #1:" />
                      <input [(ngModel)]="question.options[0].active" class="w-5 h-5"
                        (change)="setMultipleAnswer('0', question)" type="checkbox" />
                    </div>
                    <div
                      class="w-full flex flex-col items-center justify-center gap-2 px-1 py-1 mr-6 border-2 rounded border-slate-500 hover:bg-amber-50 ">

                      <div class="flex flex-col" *ngIf="question.options[0].attachment">
                        <img [src]="question.options[0].attachment" class="w-auto max-h-36">
                        <button (click)="removeOptionAttachment(question.options[0])"
                          class="px-3 py-1 text-xs text-white bg-red-500 hover:bg-red-400"> Remove</button>
                      </div>
                      <input (change)="optionOnFileSelected($event, question.options[0])" class="hidden" type="file"
                        accept="image/*" #item1Upload>
                      <button class="px-6 py-2 text-xs text-white rounded-md bg-amber-500 hover:bg-amber-400"
                        (click)="item1Upload.click()">Upload Image</button>
                    </div>
                  </div>

                  <!-- Item 2 -->
                  <div class="w-full flex flex-col gap-2">
                    <div class="w-full flex items-center gap-2">
                      <input
                        class="w-full flex-1 p-2 border-2 border-solid rounded-lg border-amber-600 bg-slate-50 outline-amber-400"
                        [(ngModel)]="question.options[1].value" type="text" placeholder="Option #2:" />
                      <input [(ngModel)]="question.options[1].active" (change)="setMultipleAnswer('1', question)"
                        class="w-5 h-5" type="checkbox" />
                    </div>

                    <div
                      class="w-full flex flex-col items-center justify-center gap-2 px-1 py-1 mr-6 border-2 rounded border-slate-500 hover:bg-amber-50 ">
                      <div class="w-full flex flex-col" *ngIf="question.options[1].attachment">
                        <img [src]="question.options[1].attachment" class="w-auto max-h-36">
                        <button (click)="removeOptionAttachment(question.options[1])"
                          class="px-3 py-1 text-xs text-white bg-red-500 hover:bg-red-400"> Remove</button>
                      </div>
                      <input (change)="optionOnFileSelected($event, question.options[1])" class="hidden" type="file"
                        accept="image/*" #item2Upload>
                      <button class="px-6 py-2 text-xs text-white rounded-md bg-amber-500 hover:bg-amber-400"
                        (click)="item2Upload.click()">Upload Image</button>
                    </div>
                  </div>
                </div>
                <!-- Container 2 -->
                <div class="w-full flex flex-col flex-1 gap-3">
                  <!-- Item 3 -->
                  <div class="w-full flex flex-col gap-2">
                    <div class="w-full flex items-center gap-2">
                      <input
                        class="w-full flex-1 p-2 border-2 border-solid rounded-lg border-amber-600 bg-slate-50 outline-amber-400"
                        [(ngModel)]="question.options[2].value" type="text" placeholder="Option #3:" />
                      <input [(ngModel)]="question.options[2].active" (change)="setMultipleAnswer('2', question)"
                        class="w-5 h-5" type="checkbox" />
                    </div>
                    <div
                      class="w-full flex flex-col items-center justify-center gap-2 px-1 py-1 mr-6 border-2 rounded border-slate-500 hover:bg-amber-50 ">
                      <div class="w-full flex flex-col" *ngIf="question.options[2].attachment">
                        <img [src]="question.options[2].attachment" class="w-auto max-h-36">
                        <button (click)="removeOptionAttachment(question.options[2])"
                          class="px-3 py-1 text-xs text-white bg-red-500 hover:bg-red-400"> Remove</button>
                      </div>
                      <input (change)="optionOnFileSelected($event, question.options[2])" class="hidden" type="file"
                        accept="image/*" #item3Upload>
                      <button class="px-6 py-2 text-xs text-white rounded-md bg-amber-500 hover:bg-amber-400"
                        (click)="item3Upload.click()">Upload Image</button>
                    </div>
                  </div>
                  <!-- Item 4 -->
                  <div class="w-full flex flex-col gap-2">
                    <div class="w-full flex items-center gap-2">
                      <input
                        class="w-full flex-1 p-2 border-2 border-solid rounded-lg border-amber-600 bg-slate-50 outline-amber-400"
                        [(ngModel)]="question.options[3].value" type="text" placeholder="Option #4:" />
                      <input [(ngModel)]="question.options[3].active" (change)="setMultipleAnswer('3', question)"
                        class="w-5 h-5" type="checkbox" />
                    </div>
                    <div
                      class="w-full flex flex-col items-center justify-center gap-2 px-1 py-1 mr-6 border-2 rounded border-slate-500 hover:bg-amber-50 ">
                      <div class="w-full flex flex-col" *ngIf="question.options[3].attachment">
                        <img [src]="question.options[3].attachment" class="w-auto max-h-36">
                        <button (click)="removeOptionAttachment(question.options[3])"
                          class="px-3 py-1 text-xs text-white bg-red-500 hover:bg-red-400"> Remove</button>
                      </div>
                      <input (change)="optionOnFileSelected($event, question.options[3])" class="hidden" type="file"
                        accept="image/*" #item4Upload>
                      <button class="px-6 py-2 text-xs text-white rounded-md bg-amber-500 hover:bg-amber-400"
                        (click)="item4Upload.click()">Upload Image</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- end of multiple choice -->

            <div *ngIf="question.type == '1'" class="options flex-[2_2_1%] flex justify-center flex-col">
              <div class="type2">
                <div class="mt-3">
                  <h1 class="poppins-b">TRUE/FALSE</h1>
                  <div class="flex gap-2 mt-2">
                    <button
                      class=" hover:bg-[var(--tertiary-color)]
                        {{question.answer == 'T' ? 'bg-[var(--tertiary-color)] text-white' : 'bg-amber-50'}}
                        border-solid border-2 border-[var(--tertiary-color)] hover:text-white flex-1 rounded-lg h-24 font-bold text-lg"
                      (click)="setTFAnswer('T', question)" [ngClass]="{ active: question.answer == 'T' }">
                      TRUE
                    </button>
                    <button
                      class=" hover:bg-[var(--tertiary-color)]
                        {{question.answer == 'F' ? 'bg-[var(--tertiary-color)] text-white' : 'bg-amber-50'}}
                        border-solid border-2 border-[var(--tertiary-color)] hover:text-white flex-1 rounded-lg h-24 font-bold text-lg"
                      (click)="setTFAnswer('F', question)" [ngClass]="{ active: question.answer == 'F' }">
                      FALSE
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="flex flex-row  justify-between items-center gap-4">
      <button (click)="addNewItem()"
        class="add hover:scale-105 poppins-b text-[var(--secondary-color)] shadow-sm border-[1px] border-[var(--tertiary-color)] text-sm py-2 rounded-md w-full whitespace-nowrap max-w-40">
        ADD NEW QUESTION
      </button> 
      <div class="flex justify-end w-fit gap-2">
        <button (click)="submit()" class="text-sm w-20 py-2 font-medium text-white bg-blue-500 rounded-md save hover:scale-105"
          [disabled]="loading">
          Save
        </button>
        <button class="text-sm w-20 py-2 text-white font-medium bg-red-500 rounded-md cancel hover:scale-105"
          (click)="closeModal()">Cancel</button>
      </div>
    </div>
  </div>
</div>


<div *ngIf="showAIModal" class="fixed inset-0 z-[1500] flex items-center justify-center bg-gray-900 bg-opacity-70">
  <div class="bg-white p-6 rounded-xl shadow-lg relative w-[400px]">
    <!-- Close Button -->
    <button (click)="showAIModal = false" class="absolute text-gray-400 top-2 right-2 hover:text-gray-600">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
        class="w-6 h-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
      </svg>
    </button>

    <!-- Modal Title -->
    <h2 class="mb-4 text-xl font-semibold text-center text-gray-800">AI-Powered Essay Question Generator</h2>

    <!-- Input Field -->
    <input *ngIf="!aiGeneratedQuestion" type="text"
      class="w-full p-3 mb-4 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-[var(--tertiary-color)]"
      [(ngModel)]="aiPrompt" placeholder="Enter topic for essay question" />

    <!-- Generated Question -->
    <div *ngIf="aiGeneratedQuestion" class="p-3 mt-4 text-gray-700 border border-gray-200 rounded-md bg-gray-50">
      <p>{{ aiGeneratedQuestion }}</p>
    </div>

    <!-- Buttons -->
    <div class="flex justify-end mt-4 space-x-4">
      <button (click)="generateEssayQuestion()" class="px-4 py-2 rounded-lg futuristic-btn-red">
        {{ isGenerated ? 'Re-generate' : 'Generate' }}
      </button>
      <button *ngIf="isGenerated" (click)="useGeneratedQuestion()" class="px-4 py-2 rounded-lg futuristic-btn-violet">
        Use this question
      </button>
    </div>
  </div>
</div>