<div class="min-h-screen p-6 bg-gray-100">
  <div class="flex justify-start mb-6">
    <button
      class="px-4 py-2 text-lg font-semibold transition duration-300 ease-in-out bg-white border rounded-lg shadow-md text-amber-700 border-amber-500 hover:bg-amber-100"
      (click)="navigateBack()"
    >
      Back
    </button>
  </div>

  <!-- Loop through lessons -->
  <div *ngFor="let lesson of lessons; let i = index" class="relative p-6 mb-8 bg-white border-l-4 shadow-md rounded-xl border-amber-600">
    <!-- Lesson-level quiz indicator -->
    <div *ngIf="lesson.hasQuiz" class="absolute top-2 right-2">
      <ng-lottie
      [options]="lottieOptions"
      width="75px"
      height="75px"
      title="This lesson has a quiz">
    </ng-lottie>
    </div>



    <div class="flex items-start justify-between mb-4">
      <div>
        <h2 class="flex items-center text-2xl font-bold text-gray-800">
          <i class="mr-3 text-3xl fas fa-book text-amber-600"></i>
          Lesson #{{i + 1}}: {{lesson.title}}
        </h2>
        <div class="flex items-center mt-2 text-gray-600">
          <span>{{lesson.firstname}} {{lesson.lastname}}</span>
          <span class="mx-2">•</span>
          <span>{{parseTime(lesson.time)}}</span>
        </div>
      </div>
      <div class="flex items-center">
        <button *ngIf="!isDone(lesson) && !hideMarkAsDone" (click)="markAsDone(lesson)" class="px-4 py-2 mr-2 font-medium text-white transition duration-300 bg-blue-500 rounded-md hover:bg-blue-600">
          Mark as done
        </button>
        <button *ngIf="isDone(lesson)" class="px-4 py-2 mr-2 font-medium text-white transition duration-300 rounded-md bg-amber-500 hover:bg-amber-600">
          Done
        </button>
      </div>
    </div>

    <p class="mb-6 leading-relaxed text-gray-700">{{lesson.details}}</p>

    <div>
      <h4 class="mb-4 text-lg font-semibold text-amber-700">Topics</h4>
      <div *ngIf="lesson.topics && lesson.topics.length > 0; else noTopics">
        <!-- Loop through topics -->
        <div *ngFor="let topic of lesson.topics; let idx = index" class="relative p-4 mb-4 border border-gray-200 rounded-lg shadow-sm bg-gray-50">
          <!-- Topic-level quiz indicator -->
          <div *ngIf="topic.hasQuiz" class="absolute top-2 right-2">
            <ng-lottie
            [options]="lottieOptions"
            width="75px"
            height="75px"
            title="This lesson has a quiz">
          </ng-lottie>          </div>

          <div class="flex items-center justify-between mb-2">
            <h5 class="text-lg font-semibold text-amber-700">Topic #{{ idx + 1 }}: {{ topic.title }}</h5>
          </div>

          <!-- Check each line, only display bullet if line starts with '-' -->
          <div class="mb-4 text-gray-600">
            <ng-container *ngFor="let line of topic.details.split('\n')">
              <div *ngIf="line.trim().startsWith('-'); else softBreak">
                <ul class="pl-5 list-disc">
                  <li>{{ line.replace('-', '').trim() }}</li>
                </ul>
              </div>
              <ng-template #softBreak>
                <span>{{ line }}</span><br />
              </ng-template>
            </ng-container>
          </div>

          <div *ngIf="topic.attachments && topic.attachments.length > 0" class="mt-2">
            <h6 class="text-sm font-semibold text-amber-500">Attachments:</h6>
            <ul class="ml-5 list-disc">
              <li *ngFor="let file of topic.attachments" (click)="handleFileClick(file, topic)" class="flex items-center text-blue-600 cursor-pointer hover:underline">
                <span>{{ getFilenameFromPath(file.file) }}</span>

                <ng-lottie
                *ngIf="file.type === 'interactive'"
                [options]="lottieOptions"
                width="75px"
                height="75px"
                title="This lesson has a quiz">
              </ng-lottie>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <ng-template #noTopics>
        <p class="text-gray-500">No topics available.</p>
      </ng-template>
    </div>
  </div>
</div>
